$black: #000;

$base: #fffcf7;
$gold: #886e17;

$red: #cf5959;
$white: #fffdf7;
$face: #fff0dd;
$gray: #ebe6d9;
$pink: #f7d7c9;

$tree-d: #577e2f;
$tree-m: #8cb44b;
$star: #ddb530;
$light-star: #fcd422;

$deer-d: #79503d;
$deer-m: #eecba2;

$shadow: rgba($black, 0.1);

$cursor-gold: #77621d;
